on:
  pull_request: &ignore-paths
    paths-ignore:
      - 'docs/**'
      - '.github/CONTRIBUTING.md'
      - '.github/FUNDING.yml'
      - '.github/SECURITY.md'
      - 'README.md'
      - 'CHANGELOG.md'
      - 'LICENSE.md'
      - 'UPGRADE.md'
      - '.gitignore'
      - '.gitattributes'
      - '.editorconfig'

  push: *ignore-paths

name: build

jobs:
  tests:
    name: PHP ${{ matrix.php }}-${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
        php:
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run tests with phpunit
        run: make test v=${{ matrix.php }}

      - name: Upload coverage to Codecov.
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
